Django==5.2.13
djangorestframework==3.17.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.9
scikit-learn==1.5.2
pandas==2.2.2
numpy==2.0.2
joblib==1.4.2
opencv-python-headless==4.13.0.92
python-dotenv==1.0.0
requests==2.31.0
gunicorn==21.2.0
